<td class="py-3 px-4">
  <input suggestable type="time" [disabled]="isText()" [(ngModel)]="startTime" [suggestionProvider]="getStartSuggestions"
    class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg disabled:bg-gray-100 dark:disabled:bg-gray-800 dark:text-gray-100"
    title="Enter the start time of the activity">
</td>
<td class="py-3 px-4">
  <input suggestable type="time" [disabled]="isText()" [(ngModel)]="endTime" [suggestionProvider]="getEndSuggestions"
    class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg disabled:bg-gray-100 dark:disabled:bg-gray-800 dark:text-gray-100"
    title="Enter the end time of the activity">
</td>
<td class="py-3 px-4 relative">
  <input suggestable type="text" class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg dark:text-gray-100"
    [(ngModel)]="description" [suggestionProvider]="getDescriptionSuggestions"
    (itemSelected)="setTaskFromDescription($event)" placeholder="Activity or description"
    title="Enter an activity or a description">
</td>
<td class="py-3 px-4 relative w-36">
  <input suggestable type="text" [disabled]="isText()" [(ngModel)]="task"
    [suggestionProvider]="getTaskSuggestions" (itemSelected)="setDescriptionFromTask($event)"
    class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg disabled:bg-gray-100 dark:disabled:bg-gray-800 dark:text-gray-100"
    placeholder="ID" title="Enter the JIRA task identifier">
</td>
<td class="py-3 px-4">
  <select class="w-full p-2 border border-gray-300 rounded-lg dark:border-gray-700 dark:text-gray-100" [(ngModel)]="type" title="Select a type">
    <option class="dark:bg-slate-800 dark:text-gray-100" value="activity">Timed Activity</option>
    <option class="dark:bg-slate-800 dark:text-gray-100" value="text">Text Only</option>
  </select>
</td>
<td class="py-3 px-4">
  <div class="flex space-x-2">
    <button type="button" class="table-action-button text-green-600 dark:text-green-400" (click)="addRow.emit()"
      title="Add an activity after this one">＋</button>
    <button type="button" class="table-action-button text-red-600 dark:text-red-400" (click)="removeRow.emit()"
      title="Delete this activity">✕</button>
  </div>
</td>
